<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="/static/jquery-3.2.1.min.js"></script>
    <script src="/static/echarts.min.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <br/>
    <div id="main2" style="width: 800px;height:600px;"></div>
    <script type="text/javascript">
        function eChart(){
            var legendData = []
            var seriesData = []
	    $.getJSON('/get-http-status',function(res){
                data = eval(res)
                //console.log(data)
                legendData = data['legend']
                seriesData = data['data']
	        //$.each(res,function(index,value){
		    //    legendData.push(value[0])
		    //    seriesData.push({value:value[1],name:value[0]})
                //seriesData.push(value[])
	        //})
            var myChart = echarts.init($('#main')[0])
		    console.log(legendData)
		    console.log(seriesData)
		    var option = {
			title : {
			    text: 'nginx access-log http_status统计',
			    subtext: 'access-log',
			    x:'center'
			},
			tooltip : {
			    trigger: 'item',
			    formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			legend: {
			    orient: 'vertical',
			    left: 'left',
			    data: legendData
			},
			series : [
			    {
				name: '访问来源',
				type: 'pie',
				radius : '55%',
				center: ['50%', '60%'],
				data: seriesData,
				itemStyle: {
				    emphasis: {
					shadowBlur: 10,
					shadowOffsetX: 0,
					shadowColor: 'rgba(0, 0, 0, 0.5)'
				    }
				}
			    }
			]
		    };
		    myChart.setOption(option);
	    })
           
        }

       function echart2(){
           var yData = []
           var seriesData = []
           $.getJSON('/get-url',function(res){
               $.each(res,function(index,value){
        	    yData.push(value[0])
                    seriesData.push(value[1])
	       })
               var myChart = echarts.init($('#main2')[0])
               option = {
		    title: {
			text: '日志请求上下文统计',
			subtext: 'access-log'
		    },
		    tooltip: {
			trigger: 'axis',
			axisPointer: {
			    type: 'shadow'
			}
		    },
		    legend: {
			data: ['5.3']
		    },
		    grid: {
			left: '3%',
			right: '4%',
			bottom: '3%',
			containLabel: true
		    },
		    xAxis: {
			type: 'value',
			boundaryGap: [0, 1]
		    },
		    yAxis: {
			type: 'category',
			//data: ['巴西','印尼','美国','印度','中国','世界人口(万)']
            data:yData
		    },
		    series: [
			{
			    name: '5.3',
			    type: 'bar',
			    //data: [18203, 23489, 29034, 104970, 131744, 630230]
                            data: seriesData
			}
                    ]
		};
                myChart.setOption(option);
           })

       }
        // 使用刚指定的配置项和数据显示图表。
        //alert(legendData)
        //alert(seriesData)
        //console.log(haha)
        //console.log(hahaha)
        //console.log(legendData)
        //console.log(seriesData)
        //myChart.setOption(option);
        eChart()
        echart2() 
    </script>
</body>
</html>
